/* fontes */

.family{
    color: #000;
}

.serif{
    font-family: 'Times New Roman';
}

.sans-serif{
    font-family:Arial;
}

.monospace{
    font-family:'Courier New';
}

.italic{
    font-style: italic;
}

.obliquo{
    font-style: oblique;
}

.bold{
    font-weight: bold;
}

.variant{
    font-variant: small-caps;
}